.Rhistory
.Rproj.user
/plots/*
/plots_old
/data/*.feather
/data/extract_zoo/
/data/*/
/data_old/
/data/*.Rdata
/data/extract_zoo/projects/*
/data/ignore/*
/data/export/*
/lib/*
draft.R
data/*.csv.gz
09.analysis_mesoinf.R
10.analysis_bathy.R
13.subsample_mesosup.R

